.toast-alert {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 14px 20px;
    background: black;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    z-index: 999999;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.4);
}